<div class="container-fluid">
  <h3>Contact us</h3>
  <div class="container text-center">
    <p>You can contact us on:</p>
    <p>Phone: +254737973882</p>
    <p>Email: messageboard@gmail.com</p>
    <button type="button" class="btn btn-success">{{#link-to 'index'}}Home{{/link-to}}</button>
  </div>
</div>

{{outlet}}
